* {
	--bs-gutter-x: 0 !important;
  }

/*body {
	background-image: url("myImages/cityimage.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}*/

body{
	transition: background-color 0.4s ease-in-out;
  	background-image: url('myImages/cityimage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper{
	position: absolute;
	top:30%;
	left:50%;
	transform: translate(-50%, 50%);
}

body.green{
	background-image: url('myImages/fishmodeimage.jpg') ;
}

.custom-toggle{
	display: inline-block;
	user-select: none;
	position: relative;
}

.custom-toggle input
{
	display: none;
}

.custom-toggle label{
	position: relative;
	display: block;
	width:96px;
	height:44px;
	border-radius:22px;
	background-color: #efefef;
	cursor: pointer;
}

.custom-toggle label:after{
	position: relative;
	display: block;
	content: "";
	width:38px;
	height: 38px;
	top:3px;
	left:3px;
	border-radius: 19px;
	pointer-events: none;
	background-color: #fff;
	transition:all 0.4s ease-in-out;
}

.custom-toggle  label:active:after{
	width:50px;
}

.custom-toggle input:checked + label:active:after{
	left: 43px;
}

.custom-toggle input:checked + label:after{
	left:55px;
	background-color: #2196f3;
}



/*Separate*/




.navpad {
    padding-top: 85px;
  }

.bgabout{
	background-color: #D2DE32;
}

.bgabout.lime{
	background-color: lime;
}

.bgBar{
	background-color: #FFFFDD;
}

.marginTopBot{
	padding-top: 40px;
	padding-bottom: 25px;
}

.downloadBtn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
  }
  
  /* Darker background on mouse-over */
  .downloadBtn:hover {
	background-color: RoyalBlue;
  }

.circle{
	border-radius: 100%;
}

.bg-card {
  background-color: #A2C579!important;
}

.line-color {
  background-color: #6F9246;
  border-color: #43582a;
  border-width: 5px;
  border: bold;
}

.co-headline-reg{
  font-family: "co-headline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cholla {
  font-family: "cholla-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sinter {
  font-family: "sinter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dico-sans {
  font-family: "dico-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/*Fischetti mode switch*/
/*https://www.youtube.com/watch?v=t_bRQ4ZkkFs*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lime;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #A2C579;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #A2C579;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

/*code for slideshow*/
#photoBooth {
	margin-top: .2em;
	padding: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(9, 84, 12);
	border-radius: 2px;
}	

#slideShow {	
	position: relative;
}

.photoHolder {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

/*milestone 3 css change*/
.moreIndicator {
	height: 50px;
	width: 50px;
	position: absolute;
	z-index: 3;
	opacity: .8;
	position: relative;
	left: 45%;
}

.thumbnail {
	position: relative;
	box-shadow: 1px 3px 20px 0px;
	max-width: 100%;
	max-height: 100%;
}


.banner {
	text-align: center;
	font-size: 1.25em;
}

#nav {
	clear: both;
	position: relative;
}

#prevPhoto {
	height: 42px;
	width: 42px;
}

/*milestone 3 hover on left and right button*/
#nav #prevPhoto:hover {
	opacity: 0.8;
}

#nextPhoto {
	height: 42px;
	width: 42px;
}

/*milestone 3 hover on left and right button*/
#nav #nextPhoto:hover {
	opacity: 0.8;
}

.details p {
	margin-top: 20px;
}
.details {
	border: 1px #000 dashed;
	padding: 0px 10px;
	margin: 20px 0px;
}

/*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
	transition: all 1s ease;
	transform: rotate(90deg);
}


/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
	transition: all 1s ease;
	transform: rotate(180deg);
}


/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
	transition: all 1s ease;
	transform: rotate(270deg);
}






/*card carousel code*/
.senCard { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 50vh; 
    padding: 0 35px; 
	background-color: #A2C579;
} 
  
.wrapper { 
    max-width: 1100px; 
    width: 100%; 
    position: relative; 
  
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: rgb(118, 233, 118); 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
} 
  
.wrapper i:first-child { 
    left: -65px; 
  
} 
  
.wrapper i:last-child { 
    right: -65px; 
  
} 
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.carousel .card { 
    scroll-snap-align: start; 
    height: 340px; 
    list-style: none; 
    background: #ffffdd; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 98%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  
.card .img { 
    background: green; 
    width: 145px; 
    height: 145px; 
    border-radius: 50%; 
  
} 
  
.card .img .imgEdit { 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 4px solid #ffffdd; 
} 
  
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
} 
  
@media screen and (max-width: 900px) { 
    .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    } 
}